
h1{
	font-family: 'Chewy';
	font-size: 15vh;
	color: white;
	margin: 0;
}

h2{
	font-family: 'Inconsolata', sans-serif;
	color: white;
	font-size: 6vh;
}

h3{
	font-family: 'Inconsolata', sans-serif;
	color: white;
	font-size: 3vh;	
}

p{
	font-family: 'Inconsolata', sans-serif;
	color: white;
	font-size: 3vh;
}

a{
	color: indianred;
}

a:hover{
	color: indianred;
	text-decoration: none;
}


body {
	height: 100vh;
	width: 100vw;
	background-image: url("background.JPG"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}


.center-block{
	width: 25vw;
	margin: 0 auto;
}

.block{
	height: 50vh;
	width: 100vw;
}

.background-mint{
	background-color: cadetblue;
	top: 150vh;
	position: absolute;
}

.grow{
	float: left;
	transition: all .2s ease-in-out;
}

.grow:hover{
	transform: scale(1.1); 
}

.main-heading{
	padding-top: 37vh;
}

.heading{
	padding-top: 15vh;
	font-size: 8vh;
}


#plane{
	position: absolute;
	left: -10vw;
	/* Chrome, Safari, Opera */
	-webkit-animation: fly 15s linear 5s infinite; 
    /* Standard */
    animation: fly 15s linear 5s infinite; 
}


/* Chrome, Safari, Opera */
@-webkit-keyframes fly {
    0%   {left:-10vw; top: 70vh;}
    25%	 {top: 30vh; -webkit-transform: rotate(40deg);}
    50%	 {top: 10vh; transform: -webkit-rotate(40deg);}
    75%	 {top: 15vh; transform: -webkit-rotate(40deg);}
    100% {left:110vw; top: 20vh; transform: -webkit-rotate(40deg);}
}

/* Standard syntax */
@keyframes fly {
    0%   {left:-10vw; top: 70vh;}
    25%	 {top: 30vh; transform: rotate(40deg);}
    50%	 {top: 10vh; transform: rotate(40deg);}
    75%	 {top: 15vh; transform: rotate(40deg);}
    100% {left:110vw; top: 20vh; transform: rotate(40deg);}
}


